.heroBanner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(
    to bottom right,
    #8266c4 0%,
    rgba(217, 97, 81, 0.5) 70.75%
  );
}

.heroLogo {
  max-width: 150px;
  height: auto;
  margin-bottom: 24px;
}

.heroTitle {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.heroSubtitle {
  font-size: 20px;
  line-height: 1.2;
}

.heroButtons {
  text-align: center;
}

.heroButton {
  border: 1px solid white;
  color: #fff;
  margin-top: 10px;
}

.heroButton:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .heroBanner {
    padding: 3rem;
  }

  .heroTitle {
    font-size: 40px;
  }

  .heroSubtitle {
    font-size: 16px;
    line-height: 1.2;
  }

  .heroLogo {
    max-width: 100px;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
